<template>
  <div class='container' style="display:grid;">
    <div class='header'>
      <h1> About </h1>
    </div>
    <div class="body">
      Founder of DevJapan & DesignJapan. Dreamer, developer/evangelist #devangelist, community organizer, gamer, father to pitbull puppy. I lift heavy things. #devrel
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .container {
    grid-template-columns: 20% 20% auto 20% 20%;
    grid-template-rows: 100px auto 20px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .header {
    grid-column-start: 1;
    grid-column-end: 6;
    min-height: 400px;
    margin: 10px;
  }
  .body {
    grid-column-start: 1;
    grid-column-end: 6;
    min-height: 400px;
    margin: 10px;
  }
</style>
