<template>
  <div class='container' style="display:grid;">
    <div class="body">
      This is the events section.
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
