<template>
  <div class='container' style="display:grid;">
    <div class="body">
      <embed type="" src="https://photos.app.goo.gl/YTtUYjGTv1XiSiRKA"/>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .container {
    grid-template-columns: 20% 20% auto 20% 20%;
    grid-template-rows: 100px auto 20px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .body {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    min-height: 400px;
    position: relative;
    margin: 10px;
  }
</style>
