<template>
  <div class='container' style="display:grid;">
    <div class='header--home'>
      <a href="/">CAVEN CADE MITCHELL</a>
    </div>
    <div class='header--links'>
      <ul>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/gallery">Gallery</a>
        </li>
        <li>
          <a href="/events">Events</a>
        </li>
        <li>
          <a href="/projects">Projects</a>
        </li>
        <li>
          <a href="/chat">Chat</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    color: #42b983;
  }
  a:hover {
    color: #42b983;
  }
  .container {
    grid-template-columns: 20% 20% auto 20% 20%;
    grid-template-rows: 100px auto 20px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .body {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .footer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 10px;
    text-align: 'center';
    margin: 10px;
  }
  .header--home {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    margin: 10px;
  }
  .header--links {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: right;
  }
</style>
