<template>
  <div id="app">
    <router-view/>
    <div class="footer">
      All contents © copyright 2019 Caven Cade Mitchell. All rights reserved.
    </div>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  .footer {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 10px;
    text-align: 'center';
    margin: 10px;
  }
</style>
